@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .showBtnOnHover button {
    @apply opacity-0 transition flex;
  }
  .showBtnOnHover:hover button {
    @apply opacity-100;
  }
  .react-select__control,
  .react-select__menu {
    @apply !bg-base-100 text-base-content;
  }
  .react-select__option {
    @apply text-primary-content bg-primary focus:text-primary-content focus:bg-primary hover:text-primary-content hover:bg-primary-focus;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: hsl(var(--pc));
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: hsl(var(--p));
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: hsl(var(--pf));
}
body {
  background-size: 5px 5px;
  background-image: radial-gradient(
    hsla(var(--bc) / 0.5) 0.5px,
    hsla(var(--b2) / 1) 0.5px
  );
}
